@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Unica+One&display=swap');

/* home page css */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}


body {
    background-color: #fcfbfb;
    font-family: Inconsolata, Arial, sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

header {
    background-color: #5cb0ff;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #d5b9e6;
    color: black;
}
#background {
    height: 725px;
    background-color: #d5b9e6;
    grid-column: 1/11;
    grid-row: 4/9;
}
footer {
    background-color: #86c6fd;
    padding: 25px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: white;
    font-family: Unica One, Helvetica, sans-serif;
    font-size: 80px;
    margin-top: 50px;
}
h4 {
    color: white;
}
footer h3 {
    color: black;
}
footer p {
    color: black;
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}

.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: -100px;
}
#hero-img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}

main section img {
    box-sizing: border-box;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
}
.environment-img {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 700px;
    margin-top: 50px;
    padding-left: 50px;
    width: 40%;
}
.environment p {
    text-align: left;
    grid-column: 8/10;
    grid-row: 3/5;
    margin-left: 50px;
    padding-left: 650px;
    padding-right: 50px;
    margin-top: -420px;
}
.hey-there {
    font-family: Unica One, Helvetica, sans-serif;
    font-size: 42px;
}
.gas-money {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -20px;
}
.car-img {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 700px;
    margin-top: -400px;
    padding-right: 60px;
    padding-bottom: 100px;
    width: 46%;
}
.car-options p {
    text-align: left;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-right: 50px;
    padding-right: 650px;
    padding-left: 50px;
    margin-top: 100px;
}
.chip {
    display: inline-block;
    text-align: left;
    padding: 0 25px;
    height: 50px;
    font-family: Unica One, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-left: 10px;
}
  
.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
  
.closebtn:hover {
    color: #000;
}